# Gradle
.gradle/
build/

# Kotlin/Java
*.class
*.jar
*.war
*.ear

# IntelliJ / IDE
.idea/
*.iml
out/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log

# OS
.DS_Store
Thumbs.db

# Helm
charts/
