# ===========================
# Gradle / Kotlin / Java
# ===========================
.gradle/
build/
out/
*.class
*.jar
*.war
*.ear

# ===========================
# IntelliJ / IDE
# ===========================
.idea/
*.iml

# ===========================
# Terraform
# ===========================
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log

# ===========================
# Helm
# ===========================
*/charts/

# ===========================
# OS / Misc
# ===========================
.DS_Store
Thumbs.db
