{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "iti-kotlin.fullname" . }}
  labels:
    {{- include "iti-kotlin.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "iti-kotlin.selectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              {{- include "iti-kotlin.selectorLabels" . | nindent 14 }}
    - from:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: {{ .Values.service.port }}
  egress:
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
      ports:
        - protocol: TCP
          port: 53
{{- end }}
