# values.yaml para iti-kotlin (final)

replicaCount: 1

image:
  repository: robertobraz/iti-kotlin-app
  tag: "1.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/metrics"
  prometheus.io/port: "8080"

podSecurityContext: {}
securityContext: {}

tolerations: []

deployment:
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  preStopSleep: "5"
  terminationGracePeriodSeconds: 30

probes:
  liveness:
    path: /
    initialDelaySeconds: 15
    periodSeconds: 20
  readiness:
    path: /
    initialDelaySeconds: 5
    periodSeconds: 10

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: iti.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

networkPolicy:
  enabled: false

pdb:
  enabled: false
  minAvailable: 1

prometheus:
  enabled: true
  createServiceMonitor: true
  scrapeInterval: 30s

imagePullSecrets:
  - name: myregistrykey
